Flask==2.0.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
python-nmap==0.7.1
Werkzeug==2.0.1
celery==5.1.2
redis==3.5.3
NetworkX==2.6.3
matplotlib==3.4.3
email-validator==1.1.3
python-dotenv==0.19.0
Pillow==8.3.1
